textarea.title-input {
  /*
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 300px;
  height: 150px;
  background: transparent;
  border: none;
  color: transparent;
  padding: 0;
  pointer-events: auto;
  visibility: hidden;
  */
  width: 100%;
  border: none;
  outline: 0;
  resize: none;
  background: transparent;
  color: #525252;
  font-size: 25px;
  /*padding-top: 25px;*/
}

textarea.title-input::placeholder {
  color: #525252;
  font-weight: bold;
}

.title-display {
  width: 100%;
  font-weight: bold;
  /*margin-top: 20px;*/
}

.hr {
  /*구분선 스타일을 추가*/
  border: "none"; /*기본 스타일 제거*/
  height: "2px"; /*구분선 두께*/
  background-color: "#000"; /*구분선 색상*/
  margin: "20px 0"; /*상하 여백 추가*/
  width: "100%"; /*100% 너비로 설정*/
  cursor: "text"; /*커서 스타일 (텍스트 입력 가능하게 보이기)*/
}
