/*  배경색 */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 370px;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: #525252;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.modal-title {
  margin-top: 32px;
  color: #ffffff;
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: bold;
}

.modal-search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal-search input {
  width: 300px;
  height: 50px;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  color: #ffffff;
}

.modal-search button {
  width: 80px;
  height: 50px;
  background-color: #181818;
  font-weight: bold;
}

.modal-contents {
  margin-top: 19px;
  width: 388px;
  height: 200px;
  border: 8px solid #181818;
  border-radius: 12px;
  background-color: #181818;
}

.modal-content {
  text-align: left;
  padding: 15px 8px;
  border: 3px solid #181818;
  background-color: #525252;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
}
