#sidebar.hidden {
  width: 1px;
  min-width: auto;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap;
}

.sidebar-search {
  justify-content: start;
  padding: 0.5rem;
  gap: 0.5rem;
  font-size: 1.125rem;
  background-color: var(--main-gray);
}

.sidebar-search:hover {
  background-color: var(--main-light-gray);
}

#sidebar {
  transition: all 0.2s;
}

.sidebar-item ul {
  padding-left: 24px;
  transition: all 0.2;
}
.sidebar-item > ul .sidebar-item > ul {
  padding-left: 60px;
}
.sidebar-item.close > ul {
  height: 1px;
  opacity: 0;
}
.sidebar-item.close > .sidebar-item-content > .sidebar-item-toggle {
  transform: rotate(-90deg);
}
.sidebar-item a {
  display: flex;
  max-width: 100%;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.5rem;
  border-radius: 8px;
  transition: all 0.2s;
}
.sidebar-item a:hover {
  background-color: var(--main-light-gray);
}
.sidebar-item-add,
.sidebar-item-remove {
  position: relative;
}
.sidebar-item-toggle {
  position: relative;
  background-color: var(--main-gray);
}

.sidebar-item-toggle:hover {
  background-color: var(--main-light-gray);
}

.sidebar-item-add::after,
.sidebar-item-remove::after,
.sidebar-item-toggle::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}

.sidebar-item-add::after {
  background-image: url("../assets/images/plus.png");
}

.sidebar-item-remove::after {
  background-image: url("../assets/images/trash.png");
}
.sidebar-item-toggle::after {
  background-image: url("../assets/images/arrowDown.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 60%;
}

.sidebar-btn.openBtn {
  width: 32px;
  height: 32px;
  background-color: var(--main-bg-color);
  position: relative;
}
.sidebar-btn.openBtn::after {
  content: "";
  display: block;
  width: 10px;
  height: 14px;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  background-image: url("../assets/images/reArrow.png");
  background-repeat: no-repeat;
}
